@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/Outfit-VariableFont_wght.ttf");
}

body {
    background-color: #f7fafc;
    font-family: Outfit, ui-monospace;
    overflow-x: hidden;
}
