@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NeueMachina";
    src: url("./fonts/NeueMachina-Regular.otf");
}

@font-face {
    font-family: "NeueMachina";
    src: url("./fonts/NeueMachina-Ultrabold.otf");
    font-weight: bold;
}

body {
    background-color: #f7fafc;
    font-family: NeueMachina;
    overflow-x: hidden;
    overflow-y: overlay;
}


body::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */

}

/* Track */
body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #8338EC;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #190B28;
}
